<footer class="text-center text-white" style="background-color: #3f51b5; width: 100%;">
    <div class="container">
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/" class="text-white">Početna</a>
                    </h6>
                </div>

                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/about/" class="text-white">O nama</a>
                    </h6>
                </div>

                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/songs/" class="text-white">Pjesme</a>
                    </h6>
                </div>
                {% if session.get('user_type') == 2 %}
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/songs/upload/" class="text-white">Uploaduj</a>
                    </h6>
                </div>
                {% else %}
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/playlists/" class="text-white">Plejliste</a>
                    </h6>
                </div>
                {% endif %}
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/contact/" class="text-white">Kontakt</a>
                    </h6>
                </div>
            </div>
        </section>

        <hr class="my-5" />

        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Dobro došli u našu zajednicu. Ovdje ćete pronaći sve što vam je potrebno za uspješno
                        ostvarenje vaših ciljeva. Naša misija je da pružimo vrhunsku podršku i resurse. Budite
                        inspirisani muzikom koju posjedujemo. Našu bazu čine fantastične numere i obrade kako
                        domaće tako i strane muzike.
                    </p>
                </div>
            </div>
        </section>

        <section class="text-center mb-5">
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright | Sva prava zadržana:
        <a class="text-white" href="/">soundbazaar.com</a>
    </div>
</footer>