html {
  overflow-x: hidden;
}

body {
  background-color: rgba(206, 204, 204, 0.18) !important;
  margin: 0;
}

#list-for-about {
  list-style-type: none;
  margin: 40px 0 40px 60px;
}

.centr-for-about {
  margin-left: 120px;
}

#div-clanstvo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music-player {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 50px auto;
}

.player-link {
  color: #000;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
}

.album-art img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.song-info {
  flex-grow: 1;
  margin: 0 20px;
}

.controls {
  display: flex;
  align-items: center;
}

.controls > audio {
  margin-right: 20px;
}

.download-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.download-btn:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
}

.search-bar {
  border: none;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #0056b3;
}

.rules-box {
  background-color: rgba(133, 128, 128, 0.72);
  border-radius: 15px;
  padding: 40px 80px 40px 80px;
}

/* playlists.html */

.container-all-playlist {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container-all-playlist h1 {
  text-align: center;
  color: #444;
  margin: 2rem 0;
}

.container-all-playlist table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.container-all-playlist table thead {
  background-color: #007bff;
  color: white;
}

.container-all-playlist thead tr th {
  padding: 10px;
}

.container-all-playlist table tbody tr {
  border-bottom: 1px solid #ddd;
}

.container-all-playlist table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container-all-playlist table tbody td {
  padding: 10px;
}

.container-all-playlist table tbody tr:hover {
  background-color: #f1f1f1;
}

.visit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.visit-btn:hover {
  background-color: #0056b3;
}

.visit-btn:active {
  background-color: #004494;
  transform: scale(0.98);
}

.all-lists {
  background: radial-gradient(#ffc6ff, #88a8ab);
}

.div-create {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* playlist.html */

.container-one-playlist {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container-one-playlist header {
  text-align: center;
  margin: 20px;
}

.container-one-playlist header h1 {
  margin: 1rem;
  color: #444;
}

.container-one-playlist header p {
  color: #666;
  margin: 20px 0;
}

.delete-playlist {
  text-decoration: none;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.delete-playlist:hover {
  background-color: #e85d4ddc;
}

.container-one-playlist table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.container-one-playlist table thead {
  background-color: #007bff;
  color: white;
}

.container-one-playlist thead tr th {
  padding: 10px;
  text-align: left;
}

.container-one-playlist table tbody tr {
  border-bottom: 1px solid #ddd;
}

.container-one-playlist table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container-one-playlist table tbody td {
  padding: 10px;
}

.container-one-playlist table tbody td .play-song {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.play-song:hover {
  background-color: #0768d0e7;
}

.container-one-playlist table tbody td .delete-song {
  color: #e74c3c;
  text-decoration: none;
  margin-left: 10px;
}

.container-one-playlist table tbody td .delete-song:hover {
  text-decoration: underline;
}

.container-one-playlist table tbody tr:hover {
  background-color: #f1f1f1;
}

.container-one-playlist {
  margin-top: 50px;
}
